
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4855;
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}


/* Start Header  */

.header{
    padding-left: 20px;
    padding-right: 20px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
}

.container .logo{
    width: 49px;
}

.container .links{
    position: relative;
}

.container .links .icon{
    width: 30px;
    display: flex;
    flex-flow: wrap column;
    gap: 2px 0;
    align-items: end;
}

.container .links .icon > span{
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-top: 3px;
}

.container .links .icon > span:nth-of-type(2){
    width: 70%;
    transition: width .3s;
}

.container .links .icon:hover > span:nth-of-type(2){
    width: 100%;
}

.container .links ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 36px;
    width: 178px;
    display: none;
    padding-left: 3px;
    padding-right: 3px;
    
}
.container .links ul::before{
    content: '';
    border: 14px solid;
    border-color: transparent transparent #eee transparent;
    margin: auto;
    top: -28px;
    right: 0;
    position: absolute;
}

.container .links ul li{
    padding: 15px 10px;
}

.container .links ul li:not(:last-of-type){
    border-bottom: 1px solid #999;
}

.container .links ul li a{
    text-decoration: none;
    color: #222;
    transition: padding .2s;
}

.container .links ul li:hover a{padding-left: 15px;}


.container .links #checkbox-nav{
    display: none;
}

.container .links #checkbox-nav:checked + ul{
    display: initial;
}

.container .links:hover ul{
    display: initial;
}
/* End Header  */

/* Start Landing Section */

.landing{
    display: flex;
    background: url('../images/header.jpg') no-repeat;
    background-size: 100% 100%;
    height: calc(100vh - 55px);
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.landing .intro-text{
    text-align: center;
    width: 380px;
}

.landing .intro-text > h1{
    font-size: 2.8rem;
    color: var(--main-color);
}

.landing .intro-text > p{
    color:#545B6B;
	font-size:19px;
    line-height: 1.8;
}
/* End Landing Section */

/* Start Features */

section.features{
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: #ccc; */
}

.features .features-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 30px 40px;
    justify-items: center;
    width: 86%;
    margin: auto;
}

@media (max-width:315px) {
    .features .features-container{
        grid-template-columns: 1fr;
    }
}

.features .features-container > div{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    transition: box-shadow .3s;

}

.features .features-container > div:hover{
    box-shadow: 0px 4px 18px 0px grey;
}

.features .features-container .feat{
    max-width: 343px;
    margin: auto;
}


.features .features-container .feat h3{
    font-weight: 800;
    color: #2c4755;
}

.features .features-container .feat p{
    color: #575757;
}
/* 
@media (max-width:795px) {
    .features .features-container .feat h2{font-size: 1.5rem;}
    
} */


.features .features-container .feat{
    padding: 0 10px;
    text-align: center;
}

.features .features-container .feat i{
    color: var(--main-color);
    opacity: .9;
}

/* End Features */


/* Start Services  */

.services-box > .container{
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    margin-top: 130px;
    gap: 30px 0;
}

.services-box > .container .col:not(:last-of-type) .ser{
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.services-box > .container .col:not(:last-of-type) .ser > i{
    margin-right: 30px;
    font-size: 25px;
    color: var(--main-color);
}

.services-box > .container .col:not(:last-of-type) .ser > .text h3{
    margin-top: 0;
    font-weight: bold;
}

.services-box > .container .col:last-of-type{
    position: relative;
    display: flex;
    align-items: center;
}

.services-box > .container .col:last-of-type  > img{
    width: 75%;
    height: 85%;
}

/* TODO  */
/* .services-box > .container .col:last-of-type img::after{
    content:url('http://placekitten.com/g/250/250');;
    z-index: -1;
    height: 100%;
    width: 100px;
    background-color: #2c4855;
    position: absolute;
    top: 0;
    right: 0;
    content:"\1F63B";
    font-size:larger;
    margin:-1em;
} */

.services-box > .container .col:last-of-type .features-img-slide{
    width: 100px;
    height: 105%;
    background-color: var(--secondary-color);
    position: absolute;
    top: -2.5%;
    right: 55px;
    z-index: -1;
}

@media (max-width:991px) {
    .services-box > .container .col:last-of-type{
        display: none;
    }
}


@media (max-width:642px) {

    .services-box .container{
        justify-items: center;
        margin-top: 63px;
    }

    .services-box .container .col:not(:last-of-type) .ser{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services-box .container .col:not(:last-of-type) .ser i{margin: 10px 0;}
}

/* End Services  */

/* Start portfolio */

#portfolio{
    margin-top: 85px;
    background-color: #eee;
    padding-top: 50px;

}

#portfolio .specially-head h2.specially-text {
    color: #d5d5d5;
    margin-top: 30px;
}

#portfolio .container{
    display: flex;
    flex-flow: column;
    align-items: center;    
}

#portfolio .container .cards{
    width: 100%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 14px;
    justify-items: center;
    align-items: center;

}

#portfolio .container .cards .card{
    background-color: #fff;
    max-width: 400px;
}

#portfolio .container .cards .card img{
    width: 100%;
}

#portfolio .container .cards .card > *:not(img){
    margin-left: 10px;
    margin-right: 10px;
}

#portfolio .container .button input{
    padding: 15px 20px;
    margin: 10px 0 40px 0;
    cursor: pointer;
    background-color: #fff;
    transition: color,background .3s;
}

#portfolio .container .button input:hover{
    background-color: #000;
    color: white;
}
/* End Portfolio */




/* Start About */

#about{
    margin-top: 55px;

}

#about .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

#about .container .image{
    position: relative;
    padding-left: 99px;
}

#about .container .image img{
    height: 300px;
    width: 250px;
    box-shadow: 0px 1px 9px 0 grey;
}

#about .container .image img + .after{
    width: 153px;
    height: 200px;
    background-color: var(--main-color);
    position: absolute;
    top: -34px;
    left: 300px;
    z-index: -1;
}

#about .container .image .before{
    width: 77px;
    height: 150px;
    background-color: #ffffff;
    top: -34px;
    left: 377px;
    position: absolute;

}


#about .container .text{
    padding: 0 10px;
}

#about .container .text h3{
    color: var(--secondary-color);
}

#about .container .text span{
    display: block;
    height: 2px;
    width: 60%;
    background-color: var(--main-color);
    margin-top: 40px;
    margin-bottom: 23px;
}
#about .container .text p{
    color: rgb(87, 87, 87)
}



@media (max-width:1000px) {

    #about .container{
        grid-template-columns: 1fr;
        text-align: center ;
    }

    #about .container .image{
        display: none;
    }

    #about .container .text span{
        margin: auto;
    }
}

/* End About */


/* Start Contact  */

#contact{
    margin-top: 30px;
    padding-top: 50px;
    background-color: #fafafa;
}

#contact .container{
    padding: 82px;
}

#contact .container .information {
    padding-left: 125px;
}
#contact .container h2{
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: bold;
}

#contact .container h3{
    font-size: 1.5rem;
    color: var(--main-color);
    text-decoration: line-through ;
    font-weight: bold;
    margin-left: 30px;
}

#contact .container .social-links h6{
    display: inline-block;
    font-weight: 300;
    margin-left: 60px;
}

#contact .container .social-links i{
    font-size: 10px;
}


@media (max-width:1000px) {

    #contact .container .information {
        padding-left: 0;
    }
}

@media (max-width:600px) {


#contact .container h2{
    font-size: 1.5rem;
    margin-left: -20px;
}

#contact .container h3{
    font-size: 1.2rem;
    margin-left: 12px;
}

#contact .container .social-links h6{
    margin-left: 50px;
}
}


@media (max-width:436px) {
#contact .container h2{
    font-size: 1rem;
    margin-left: -30px;
}

#contact .container h3{
    font-size: .8rem;
    margin-left: -7px;
}

#contact .container .social-links h6{
    margin-left: 0;
}

#contact .container .social-links i{
    font-size: 7px;
}
    }
/* End Contact */

/* start Footer  */
footer{
    width: 100%;
    padding: 10px 10px;
    background-color: var(--secondary-color);
    color:#eee;
    text-align: center;
}
footer span{
    color: var(--main-color);
}
/* End Footer  */




/* farmework */
.container{
    /* width: 80vh; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    /* width: 80vw; */
}

.specially-text{
    color: hsl(200deg 8% 93%);
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -2px;
    margin: 0;
}

.specially-text +p {
    text-align: center;
    margin-top: -31px;
    transform: translateZ(1px);
    color: rgb(86, 86, 86);
    font-size: 18px;
}

/* media querqs */


/* small */
@media (max-width:578px) {

    .specially-text{
        font-size: 84px;
        margin-top: -39px;
    }

    .specially-text +p {
        font-size: 15px;
        margin-top:-27px ;
    }
}


@media (max-width:360px) {

    .specially-text{
        font-size: 60px;
        margin-top: -39px;
    }

    .specially-text +p {
        font-size: 10px;
        margin-top:-23px ;
    }
}

/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}

/* large  */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
}
