
:root{
    --main-color:#10cab7;

}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    height: 3000px;
}


/* Start Header  */

.header{
    padding-left: 20px;
    padding-right: 20px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
}

.container .logo{
    width: 49px;
}

.container .links{
    position: relative;
}

.container .links .icon{
    width: 30px;
    display: flex;
    flex-flow: wrap column;
    gap: 2px 0;
    align-items: end;
}

.container .links .icon > span{
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-top: 3px;
}

.container .links .icon > span:nth-of-type(2){
    width: 70%;
    transition: width .3s;
}

.container .links .icon:hover > span:nth-of-type(2){
    width: 100%;
}

.container .links ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 36px;
    width: 178px;
    display: none;
    padding-left: 3px;
    padding-right: 3px;
    
}
.container .links ul::before{
    content: '';
    border: 14px solid;
    border-color: transparent transparent #eee transparent;
    margin: auto;
    top: -28px;
    right: 0;
    position: absolute;
}

.container .links ul li{
    padding: 15px 10px;
}

.container .links ul li:not(:last-of-type){
    border-bottom: 1px solid #999;
}

.container .links ul li a{
    text-decoration: none;
    color: #222;
    transition: padding .2s;
}

.container .links ul li:hover a{padding-left: 15px;}

.container .links #checkbox-nav{
    display: none;
}

.container .links #checkbox-nav:checked + ul{
    display: initial;
}
/* End Header  */

/* Start Landing Section */

.landing{
    display: flex;
    background: url('../images/header.jpg') no-repeat;
    background-size: 100% 100%;
    height: calc(100vh - 55px);
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.landing .intro-text{
    text-align: center;
    width: 380px;
}

.landing .intro-text > h1{
    font-size: 2.8rem;
    color: var(--main-color);
}

.landing .intro-text > p{
    color:#545B6B;
	font-size:19px;
    line-height: 1.8;
}
/* End Landing Section */

/* Start Features */

section.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ccc;
}

.features .features-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 0 40px;
    width: 86%;
    margin: auto;
}

@media (max-width:315px) {
    .features .features-container{
        grid-template-columns: 1fr;
    }
}
.features .features-container .feat h2{
    font-weight: 800;
    color: #2c4755;
}

.features .features-container .feat p{
    color: #575757;
}
/* 
@media (max-width:795px) {
    .features .features-container .feat h2{font-size: 1.5rem;}
    
} */


.features .features-container .feat{
    padding: 0 10px;
    text-align: center;
}

.features .features-container .feat i{
    color: var(--main-color);
    opacity: .9;
}

/* End Features */


/* farmework */
.container{
    /* width: 80vh; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    /* width: 80vw; */
}




/* media querqs */

/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}

/* large  */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
}
